@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&display=swap');
*   {
    font-family: 'Lato', sans-serif;
}
body    {
background-color: var(--background-color);
color:black;
font-size: var(--font-size);
}
:root   {
    --background-color: rgba(29, 71, 10, 0.733);
    --font-size: 14px;
}
.container  {
    display:flex;
    justify-content: space-between; 
    flex: 1, 3;  
    align-items: center;
}
#nav-bar    {
    justify-content: space-around;
    align-items: center;
}