@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&display=swap');
*   {
    font-family: 'Lato', sans-serif;
}
:root   {
    background: rgba(29, 71, 10, 0.733);
}
.container  {
    display:flex;
    justify-content: space-between; 
    flex: 1, 3;  
}
#header-img {
    width: 50px;
}
#nav-bar    {
    justify-content: space-around;
    align-items: center;
}